/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
/* Header Styling starts here */
.Header {
  margin: 0px 100px;
  height: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
}
.netflixlogo-container img {
  height: 130px;
}
.signinbtn-container .signin {
  background-color: red;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px;
  font-weight: bold;
}

/* Header Styling ends here */

/* Signin Styling starts here */
.signup-main-div {
  position: relative;
}
.Signup-Container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 15vh 85vh;
}
.Signup-Content {
  /* margin-top: 20%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Signup-Content h4,
h6 {
  padding: 0 30rem;
  line-height: 2;
  color: white;
}
.Signup-Content h1 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  padding: 0 15rem;
}
.Signup-Content h4 {
  font-size: 1.5rem;
  color: white;
}
.Signup-Content h6 {
  color: white;
  font-size: 1rem;
  margin-bottom: 9px;
}
.Signup-Content input {
  color: rgb(113, 111, 111);
  background-color: #b8b8b817;
  padding: 1.2rem 1.4rem;
  font-size: 1.2rem;
  border: 1px solid rgb(82, 81, 81);
}
.Signup-Content input:focus {
  outline: none;
}
.Signup-Content .btn {
  margin-left: 6px;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 0.2rem;
  font-weight: bolder;
  padding: 1.2rem 1.8rem;
  font-size: 1.2rem;
  gap: 4px;
}
/* Signin Styling ends here */
